.md-primary:not([dusabled]):hover {
  color: white;
  background-color: #204d74;
  border-color: #122b40;
}

.md-primary {
  color: white;
  background-color: #286090;
  border-color: #204d74;
}

.md-danger:not([dusabled]):hover {
  color: white;
  background-color: #ac2925;
  border-color: #761c19;
}

.md-danger {
  color: white;
  background-color: #c9302c;
  border-color: #ac2925;
}

.md-info:not([dusabled]):hover {
  color: white;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.md-info {
  color: white;
  background-color: #269abc;
  border-color: #1b6d85;
}

.md-success:not([dusabled]):hover {
  color: white;
  background-color: #449d44;
  border-color: #398439;
}

.md-success {
  color: white;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
